body {
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* Enable vertical scrolling */

  /* Firefox */

}

html {
  scroll-behavior: smooth;
  margin: 0;
  background: black;
  color: antiquewhite;
}

::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

nav {
  height: 110px;
}

section {
  min-height: calc(100vh - 81.5px);
}

div {
  min-height: fit-content !important;
}

img {
  max-height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-right: 50vh;
  gap: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
}

.navbar {
  list-style-type: none;
  padding: 10px;
  margin-top: 5vh;
  width: 120%;
  border-color: darkslategrey;
  display: flex;
  justify-content: center;
  gap: 4%;
  font-style: normal;
  text-decoration: none;
  font-size: smaller;
  font-weight: unset;
  background-color: black;
}


.web-title {
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.sig {
  width: 200px;
  height: auto;
}

.navbar a {
  text-decoration: none;
  font-style: normal;
  font-style: none;
  color: white;
}

.navbar a:hover {
  background-color: red;
  border-radius: 5%;
  padding: 7%;
  font-size: larger;
}

.homepage {
  background-image: url(images/kiko-black.jpg);
  background-repeat: no-repeat;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.insta {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  min-height: calc(10vh);

}

.insta-pic {
  width: 60%;
  height: 100%;
  object-fit: contain;
}

.insta-button {
  background-image: url(images/follow-button.png);
  height: 6vh;
  display: flex;
  justify-content: center;
  margin: 3vh;
  padding: 0;
  gap: 10px;
  width: 17vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.bio {
  display: flex;
  flex-direction: row;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.bio-pic,
.bio-text {
  opacity: 0;
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.bio-pic {
  background-image: url(images/FCAT1.png);
  background-position: center;
  width: 50%;
  background-size: cover;
  transform: translateX(-50px);
}

.bio-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh;
  font-family: "times new roman";
  line-height: 2.5;
  font-size: larger;
  transform: translateX(50px);

}

.bio-pic.animate,
.bio-text.animate {
  opacity: 1;
  transform: translateX(0);
}

.lessons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 5vh;
  border-top: solid;
  border-bottom: solid;
  border-color: wheat;
}

.lessons-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  margin: 5vh;
  width: 50%;
  transform: translateX(-50px);
}

.lessons-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 5vh;
  width: 99%;
  background-image: url(images/lesson-home-hero-image.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  transform: translateX(50px);
}

#lesson-h2 {
  font-size: xxx-large;
  font-weight: 100;
  font-style: normal;
  color: white;
  text-decoration: none;
  margin: 5vh;
  padding: 0;
  justify-content: center;
}

.lesson-text.animate,
.lessons-pic.animate {
  opacity: 1;
  transform: translateX(0);
}

.lessons-text .lessons-pic {
  opacity: 0;
  transition: transform 2s ease-out,
    opacity 2s ease-out;
}

.videos1 {
  display: flex;
  justify-content: space-around;
  gap: 1vh;   
  margin: 0;   
}
.video1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.video {
  margin:5vh;
}
