body {
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: black;
  background-color: white;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

nav {
  height: 110px;
}

section {
  min-height: calc(100vh - 81.5px);
}

div {
  min-height: fit-content !important;
}

img {
  max-height: 100%;
}

.header {
  display: flex;
  justify-content: LEFT;
  flex-direction: row;
  padding-right: 50vh;
  gap: 140px;
  border-bottom-style: inset;
  padding-left: 6vh;
}

.navbar {
  list-style-type: none;

  margin-top: 5vh;


  width: 120%;
  z-index: 999;
  border-color: darkslategrey;
  background-color: transparent;
  display: flex;

  gap: 4%;
  font-style: normal;
  text-decoration: none;

}


.web-title {
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.sig {
  width: 200px;
  height: auto;
}

.navbar a {
  text-decoration: none;
  font-style: normal;
  font-style: none;
  color: black;
}

.navbar a:hover {
  background-color: red;
  border-radius: 5%;
  padding: 7%;
  font-size: larger;
}

.banner {
  display: flex;

}

.banner img {
  height: 93vh;
  mask-repeat: no-repeat;
}

#homepage {
  display: flex;
  flex-direction: row;
  gap: 20vh;
  align-items: center;
}

.bio-img {
  width: 82%;

}


bio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
}
